# Aggregate column names per value

## Input
```
| group1 | group2 | group3 |
|--------+--------+--------|
| val1   | val1   | val2   |
| val2   | val2   | val3   |
| val4   |        | val5   |
```

## Output
```
| value | groups               |
|-------+----------------------|
| val1  | group1,group2        |
| val2  | group1,group2,group3 |
| val3  | group3               |
| val4  | group1               |
| val5  | group3               |
```

In [27]:
import io
import pandas as pd

data = io.StringIO("""
group1 | group2 | group3
val1   | val1   | val2  
val2   | val2   | val3  
val4   |        | val5  
""")
df = pd.read_csv(data, sep='|')
df.columns = [c.strip() for c in df.columns]
df = df.apply(lambda x: x.str.strip())
df.head()

  group1 group2 group3
0   val1   val1   val2
1   val2   val2   val3
2   val4          val5

In [31]:
s = df.unstack()
s = s[(~s.isnull()) & (s != '')]
s = s.reset_index().drop(['level_1'], axis=1)
agg_func = lambda x: ','.join(x)
s = s.groupby(0)['level_0'].apply(agg_func).reset_index()
s.columns = ['value', 'groups']
s

  value                groups
0  val1         group1,group2
1  val2  group1,group2,group3
2  val3                group3
3  val4                group1
4  val5                group3